title: InstaDwell Blog
email: gumidellisanchit@gmail.com
description: "Browse and discover verified, affordable student accommodation and co-living spaces with InstaDwell your trusted platform for PGs, hostels, and shared rentals for students and young professionals."
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://blog.instadwell.com" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: jekyllrb
github_username: jekyll

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-paginate

paginate: 20 # number of posts per page
paginate_path: "/page:num"
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
