<footer class="footer py-5">
  <div class="container">
    <div class="footer__content">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer__about">
            <div class="footer__logo">
              <img
                src="/assets/images/instadwell-logo.png"
                height="70px"
                alt="instadwell"
              />
              <p class="px-2 text-white">
                Discover verified coliving and student accommodation across the
                globe
              </p>
            </div>
          </div>
        </div>

        <div class="offset-lg-1 col-md-5 col-sm-6">
          <div class="footer__widget">
            <ul>
              <li><a href="/">Home</a></li>
              <li>
                <a href="https://instadwell.com/about" target="_blank"
                  >About Us</a
                >
              </li>
              <li>
                <a href="https://instadwell.com/contact" target="_blank"
                  >Contact Us</a
                >
              </li>
            </ul>
            <ul>
              <li><h5 class="mb-3 text-white">Social Media Links:</h5></li>
              <li>
                <a
                  href="https://www.instagram.com/instadwell_official/"
                  target="_blank"
                  style="color: #4d525c"
                  ><i class="fa-brands fa-instagram fa-lg icon"></i
                ></a>
                <a
                  href="https://www.linkedin.com/company/instadwell-coliving-and-student-accommodations/"
                  target="_blank"
                  style="color: #4d525c; padding-left: 5px"
                  ><i class="fa-brands fa-linkedin fa-lg icon"></i
                ></a>
                <a
                  href="https://www.facebook.com/share/1ChtB5KjJa/"
                  target="_blank"
                  style="color: #4d525c; padding-left: 5px"
                  ><i class="fa-brands fa-facebook fa-lg icon"></i
                ></a>
                <a
                  href="https://x.com/InstaDwell12"
                  target="_blank"
                  style="color: #4d525c; padding-left: 5px"
                  ><i class="fa-brands fa-twitter fa-lg icon"></i
                ></a>
                <a
                  href="https://www.youtube.com/@InstaDwell"
                  target="_blank"
                  style="color: #4d525c; padding-left: 5px"
                  ><i class="fa-brands fa-youtube fa-lg icon"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
